@use "./base.scss";

// put your custom CSS here!
@use "./variables.scss" as *;


hr {
  overflow: visible;
  padding: 0;
  height: 0;
  margin: 2em auto;
  border: none;
  text-align: center;
  width: 100%;

  &:after {
    content: "";
    display: inline-block;
  }
}